<!-- Footer start -->
        <footer class="footer bg-header">
            <div class="footer-left">
                    <div class="footer-legal">
                        <p class="footer-copyright-text dm-sans semibold italic">© 2018-Present Vanta Interactive. All rights reserved.</p>
                        <p class="footer-copyright-text footer-link white dm-sans bold">&ensp;|&ensp;</p>
                        <a class="footer-copyright-text footer-link white link-white dm-sans bold" href="https://status.vantainteractive.com">Status</a>
                    </div>
            </div>
        </footer>
<!-- Footer end -->
        <script src="{{ site.baseurl }}/js/insert-banners.js"></script>
        <script src="{{ site.baseurl }}/js/sticky-header.js"></script>
        {% if page.toc %}<script src="{{ site.baseurl }}/js/sticky-postheader.js"></script>{% endif %}
