<!-- Header begin -->
        <header class="header header-padding bg-header" id="landing">
            <div class="header-left">
                <div class="header-branding row">
                    <a href="https://vantainteractive.com/">
                    <img class="header-logo" id="logo" src="{{ site.baseurl }}/favicon/vi-logo-big-wh.png" alt="VI brand image"/></a>
                    <div class="header-spacing"></div>
                    <a href="{{ site.baseurl }}/"><p class="header-branding monospace white rem3 semibold">Legal</p></a>
                </div>
              </div>
        </header>
<!-- Header end -->
