---
layout: default
---

<!DOCTYPE html>
<html lang="en" class="scroll-smooth">
    <head>
        <meta charset="UTF-8" />
        <!-- Webpage title -->
        <title id="home">{{ page.title }} | Vanta Interactive</title>
        <!-- Website description -->
        <meta name="description" content="{{ page.description }}">
        <!-- Viewport width -->
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <!-- Open Graph meta tags -->
        <meta property="og:title" content="{{ page.title }} | Vanta Interactive">
        <meta property="og:description" content="{{ page.description }}">
        <meta property="og:image" content="https://raw.githubusercontent.com/vantainteractive/vantainteractive.com/main/favicon/vi-logo-big-bk.png">
        <meta property="og:url" content="https://vantainteractive.com/en/posts.html">
        <meta property="og:type" content="website">
    </head>
<body class="bg-header">

        {% include notice-container.html %}

        <div class="articles-container">
        <p class="monospace semibold rem1-5 lightgray">{{ site.t[page.lang].postshead }}&nbsp;</p>
        {% assign posts=site.posts | where:"lang", page.lang %}
        {% for post in site.posts %}
        <div class="article">
        <div class="article-left">
            <img class="article-image-size" src="{{ post.image }}" alt="{{ post.title }}">
        </div>
        <div class="article-right">
            <a href="{{ post.url }}">
                <p class="article-title rem2 white dm-sans semibold">{{ post.title }}</p>
            </a>
            <div class="article-button-container">
                <a class="article-button-light" href="{{ post.url }}">Read More</a>
            </div>
        </div>
        </div>
        {% endfor %}
        </div>
</body>
</html>
