---
layout: index
---

<!DOCTYPE html>
<html lang="en" class="scroll-smooth">
    <head>
        {% include head.html %}
    </head>
<body class="bg-header fade-in">
        {% include header.html %}

        {% include notice-container.html %}

        <div class="articles-container">
            <div class="link">
                <div class="row">
                    <a href="{{ site.baseurl }}/terms-of-service"><p class="article-title rem1-5 white monospace semibold">Terms of Service</p></a>
                </div>
            </div>
            <div class="link">
                <div class="row">
                    <a href="{{ site.baseurl }}/privacy-policy"><p class="article-title rem1-5 white monospace semibold">Privacy Policy</p></a>
                </div>
            </div>
            <div class="link">
                <div class="row">
                    <a href="{{ site.baseurl }}/privacy-security-commitment"><p class="article-title rem1-5 white monospace semibold">Our commitment to privacy and security</p></a>
                </div>
            </div>
        </div>

        {% include footer.html %}
</body>
</html>
