---
layout: post
---

<!DOCTYPE html>
<html lang="en" class="scroll-smooth">
    <head>
        {% include head.html %}
    </head>
<body class="bg-header">
        {% include header.html %}

        {% include notice-container.html %}

        <div class="post-content post">
            {% if page.toc %}
                <header class="post-header z-index25" id="post-header">
                    <details class="toc">
                        <summary class="post-text monospace rem1-25 lightgray">Table of Contents</summary>
                        {{ page.toc }}
                    </details>
                </header>
            {% endif %}
            <div class="post-content lightgray rem1-15 monospace medium">
            <h1 class="post-title rem2-5 white monospace semibold" itemprop="name headline">{{ page.title }}</h1>
                 {% if page.date %}
                     <p class="post-meta">
                         <time class="dt-published rem1 white monospace medium" datetime="{{ page.date | date: "%Y-%m-%d" }}" itemprop="datePublished">{{ page.date | date: "%B %d, %Y" }}
                        </time></p>
                    {% endif %}
                <p class="post-text rem1-15 monospace medium lightgray">{{ page.description }}</p>
                {{ content }}
            </div>
        </div>

        {% include footer.html %}
</body>
</html>
